/***************************************
GENERAL
***************************************/
body {
	font-family: 'Open Sans', sans-serif;

}

a {
	text-decoration: none;
}

img {
	max-width: 100%; /*makes images fluid*/

}

#wrapper {
	max-width:940px;
	margin: 0 auto;
	padding: 0 5%;


}

/***************************************
GALLERY
***************************************/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 2.5%;
	width: 45%;

}

/***************************************
NAVIGATION
***************************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 0;
}

nav li {
	display: inline-block;

}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 10px;
}

nav a {
	font-weight: 800;
	margin: 0 10px;
}
/***************************************
HEADER
***************************************/
header {
	width: 100%;
	margin: 0 0 30px 0;
	padding: 10px 0 0 0;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.75em;
	margin: 15px 0;
	line-height: 0.9em;
	font-weight: 800;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	font-weight: normal;


}
/***************************************
FOOTER
***************************************/
footer {

	padding-top: 30px;
	text-align: center;
	clear: both;
	font-size: 0.75em;
}

.twitter {
	width: 30px;
	height: 30px;
	margin: 0;

}

.linkedin {
	width: 30px;
	height 40px;
}
}
/***************************************
ABOUT ME 
***************************************/

.picture {
	max-width: 250px;
	display: block;
	border-radius: 10px;
	border: 5px solid black;
	margin: 0 auto 60px;
}

/***************************************
FORM
***************************************/

.container {
	max-width: 500px;
	margin: auto;
}

form {
	font-family: comic sans ms, sans-serif;
	padding: 20px 0 0 0;
	

}


#button {
	width: 100px;
	height: 30px;
	font-weight: 700;
	background-color: #55AA55;
	border-bottom: 3px solid #004400;
	border-top: 3px solid #116611;
	border-left: 3px solid #116611;
	border-right: 3px solid #116611;
	border-radius: 10px;
	cursor: pointer;

}

.number {
	background-color: #141414;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;	
	text-align: center;
	border-radius: 100%;
	font-weight: 800;
	color: #fff;

}

label {
	display: block;
	margin-bottom: 10px;

}

input[type="text"],
input[type="email"],
textarea,
select {

	background-color: #e8eeef;
	height: auto;
	margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #C0C0C0;

}

fieldset {
	border: none;
}

legend {
	margin-bottom: 20px;
	font-family: comic sans ms;

}

.caption {
	text-align: center;

}

/***************************************
HOBBIES
***************************************/
.hobby-pic {

	max-width: 100%;
	width: 400px;
	margin: 10px auto;
	border: 5px dashed black;
	border-radius: 10px;
}


/***************************************
COLORS
***************************************/

h1, h2 {
	color: #fff;
}

h3 {
	margin-top: 0px;
	color: #000;
}

header {
	background: #801515;	
}

body {

	background: #fff;
}


form {
	background: #fff;

}

a {
	color: #ff4d4d;
}
nav {
	background: #550000;

}
nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #AA3939;
}
